// *** GLOBAL FONTS SETTINGS ***
$global-font-family: 'Roboto Mono', monospace;
$global-font-size: 16px;
$global-font-weights:(
	light: 300,
	standard: 400
);
$global-font-colors:(
	white: #fff,
	black: #000
);
$global-colors:(
	light-gray: #808080,
	black: #000
);